<!DOCTYPE html >
<html lang="en">
  <head>
    <!-- <base href="/"></base> -->
    <title>California Foodways</title>
    <link rel="shortcut icon" href="assets/logo.jpg">
    <meta property="og:title" content="California Foodways" />
    <!-- <meta property="og:url" content="" /> -->
    <meta property="og:image" content="banner_cream.jpg"/>
    <meta property="og:description" content="Everybody eats, and food propels storytelling. This radio (and print) series will travel county by county reporting stories about California and Californians through the lens of food.  The series, California Foodways, will feature people and places at the intersection of food, culture, history and economy.Stories like…a restaurant that inspired a national fast food chain, and desegregation; an unlikely pop-up café on the Pacific Crest Trail; inmates working at a dairy in a Central Valley prison; a baseball team named for a crop; and the only coffee farmer in California. "/>
    <meta property="og:site_name" content="California Foodways" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54985453-1', 'auto');
  ga('send', 'pageview');

</script>

  <body ng-app="californiaFoodwaysApp">
    <div class="container-fixed">
    <div ng-controller="AnimationCtrl">
      <!-- Banner slide up and down-->
      <div class="row bg" >
        <div class="col-xs-6 text-center">
          <!-- navigation -->
          <nav ng-show="data.active" off-click='data.active = false' off-click-filter='.toggle'>
            <div id="navigation">
              <a is-active-nav href="/">Home</a>
              <a is-active-nav href="/about">About</a>
              <a is-active-nav href="/support">Support</a>
              <a is-active-nav href="/contact">Contact</a>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Button to Toggle banner -->
      <div class="row toggle" >
       <div class="col-s-1 col-s-offset-5 text-center"><h3 ng-click="toggle()"><i  ng-model="btn" ng-click="btn=!btn"  off-click-filter='
        #navigation'  off-click="btn = !btn" off-click-if="data.active" ng-class="{'rotate': btn}" class="fa fa-plus togglebutton"></i></h3></div>
     </div>
    </div>

     <!-- Main content and injected views -->
     <div class="cont">
      <%= yield %>
    </div>

    <!-- footer -->
    <div class="row sponsors">
      <div class="col-xs-2">
        <h2>Funded By: </h2>
      </div>
      <div class="col-xs-4">
        <%= image_tag("cal-humanities-logo.jpg") %>
      </div>
      <div class="col-xs-2">
        <h2>Heard on:</h2>
      </div>
      <div class="col-xs-4">
       <%= image_tag("kqed.jpg") %>
      </div>
      <div class="col-xs-12 text-center">
        <p> Copyright &copy; 2014 California Foodways, All rights reserved. </p>
      </div>
    </div>
    </div>
  </div>
  </body>
</html>
