<!DOCTYPE html>
<html lang="en" ng-app="californiaFoodwaysApp">
<head>
  <title>CaliforniaFoodwaysApp</title>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-view>
  <div ng-controller="AnimationCtrl">

  <!-- Banner slide up and down-->
  <div class="row bg" >
        <div class="col-xs-6 text-center">
          <!-- navigation -->
          <nav ng-show="data.active" off-click='data.active = false' off-click-filter='.toggle'>
            <ul id="navigation">
              <li>Home</li>
              <li>About</li>
              <li> Support</li>
              <li>Social</li>
            </ul>
          </nav>
      </div>
  </div>
   <!-- Toggle banner -->
  <div class="row toggle" >
     <div class="col-xs-12 text-center"><h3 ng-click="toggle()"><i  ng-model="btn" ng-click="btn=!btn" ng-class="{'rotate': btn}" class="fa fa-plus togglebutton"></i></h3></div>
   </div>

  <!-- body -->
  <div class="cont">
    <%= yield %>
  </div>

  <!-- footer -->
  <div class="row sponsors">
    <div class="col-xs-2">
      <h2>Funded By: </h2>
    </div>
    <div class="col-xs-4">
      <%= image_tag("cal-humanities-logo.jpg") %>
    </div>
    <div class="col-xs-2">
      <h2>Heard on:</h2>
    </div>
    <div class="col-xs-4">
       <%= image_tag("kqed.jpg") %>
    </div>
    <div class="col-xs-12 text-center">
     <p> &copy; California Foodways </p>
  </div>
  </div>
</div>
</body>
</html>
